@if (showContato$ | async; as contatos) {
  <div class="bg-white p-6 rounded-lg">
    <h2 class="font-bold mb-8">Lista de Contatos:</h2>

    <table class="">
      <thead>
        <tr class="border">
          <th class="">Nome</th>
          <th class="">Email</th>
          <th class="">Mensagem</th>
        </tr>
      </thead>
      <tbody>
        @for (showContato of contatos; track showContato.id) {
          <tr class="border">
            <td class="border px-4">{{ showContato.nome }}</td>
            <td class="border px-4">{{ showContato.email }}</td>
            <td class="border px-4">{{ showContato.mensagem }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
